[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
joblib = "*"
pylint = "*"
pydantic = "*"
coverage = "*"
pandas = "==1.4.3"
numpy = "==1.23.2"
scikit-learn = "*"
pytest = "*"
scipy = "==1.9.1"

[dev-packages]

[requires]
python_version = "3.10"
