[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
scikit-learn = "==1.2.2"
pandas = "*"
numpy = "*"
pydantic = "*"
joblib = "*"
uvicorn = "*"
gunicorn = "*"
pytest = "*"
httpx = "*"
pylint = "*"
coverage = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.8"
