# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - apijlv

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to registry
      uses: docker/login-action@v2
      with:
        registry: https://irisappjlvcontaineur.azurecr.io/
        username: ${{ secrets.AzureAppService_ContainerUsername_91cba37cff944c33916b6453957bf3f2 }}
        password: ${{ secrets.AzureAppService_ContainerPassword_f2cf96b53ee944c6b14b241c9bca7134 }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v3
      with:
        push: true
        tags: irisappjlvcontaineur.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_91cba37cff944c33916b6453957bf3f2 }}/apijlv:${{ github.sha }}
        file: ./Dockerfile

    - name: install pytest
      run: pip install pytest

    - name: test
      run: pytest

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'apijlv'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_4991e5caefcd4ea8a460514ec66fcb60 }}
        images: 'irisappjlvcontaineur.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_91cba37cff944c33916b6453957bf3f2 }}/apijlv:${{ github.sha }}'
